@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(169, 234, 255);
    font-family: 'Open Sans', sans-serif;

}

header {
    height: 5vh;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 1.5vh;
    transform: translateX(-50%);
    border-radius: 1.5vh;
    background-color: rgb(255, 216, 87);
    color: rgb(0, 161, 214);
    font-size: 16px;
    text-align: center;
    line-height: 5vh;
    font-weight: 700;
    letter-spacing: 1px;

}


div.wrap {
    position: absolute;
    left: 50%;
    top: 8vh;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 13.2vh [col]);
    grid-template-rows: repeat(6, 13.2vh [row]);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;

}

div.wrap>div {

    border-radius: 10%;
    background-color: rgb(97, 216, 255);
}

img {

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: auto;
    max-width: 80%;
}



div.wrap>div.hidden {
    background-color: deepskyblue;
    cursor: pointer;
}

div.wrap>div.guessed {
    background-color: rgb(220, 246, 255);
}
div.wrap>div.hidden>img, div.wrap>div.guessed>img {
    display: none;
}


.start {
    height: 8vh;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 1.5vh;
    background-color: rgb(255, 216, 87);
    color: rgb(0, 161, 214);
    font-size: 24px;
    text-align: center;
    line-height: 8vh;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}

.start.clicked {
    transform: scale(0);
}

.popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 35%;
    border-radius: 1.5vh;
    background-color: rgb(255, 216, 87);
    text-align: center;
    z-index: 1;
}
.popup.active {
    display: block;
}

.popup h2 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(0, 133, 177);
}

.popup .again {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    font-size: 22px;
    color: rgb(0, 161, 214);
    animation: again 1s linear infinite;
    cursor: po;
}


@media (orientation: landscape) {
    header {
        height: 6vh;
        top: 2vh;
        line-height: 6vh;
    }

    div.wrap {
        top: 10vh;
        grid-template-columns: repeat(6, 12vw [col]);
        grid-template-rows: repeat(3, 12vw [row]);
        grid-gap: 15px;
    
    }

    .popup {
        border-radius: 1.5vw;
        width: 40%;
        height: 50%;
    }

    .start {
        height: 10vh;
        line-height: 10vh;
        width: 20%;
        top: calc(10vh + 0.5*(3*12vw + 2*15px));
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (min-width: 500px) {
    header {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    header {
        font-size: 24px;
    }
    .popup h2 {
        font-size: 30px;
    }
    .popup .again {
        font-size: 40px;
    }
    .start {
        height: 8vh;
        line-height: 8vh;
    }
}

@keyframes again {
    0% {transform: translateX(-50%) scale(1);}
    50% {transform: translateX(-50%) scale(1.2);}
}